<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # RewriteBase /portfolio/
    
    RewriteRule ^public/ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
    RewriteRule (.+) public/$1 [L]
    RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
    RewriteRule ^ %1 [L,NE,R=302]
    RewriteRule (.*) public/index.php?route=$1 [L,QSA]
    
</IfModule>